body:not(.user-is-tabbing) *:focus {
  outline: none;
}

body {
	animation: fade-in 0.3s ease-out forwards;
}

.move-set .move-set-item {
	animation-delay: 0.5s;
	opacity: 0;
	will-change: opacity;
	animation-fill-mode: forwards;
}